/* For devices 1000px and larger: 
@media only screen and (min-device-width: 1000px) {
  body {
    background-image: url('img_flowers.jpg');
  }
}
*/
 

/* For devices 445px and smaller: 
@media only screen and (max-device-width: 445px) {
  body {
    background-image: url('img_flowers.jpg');
  }
}
*/

html {
  font-family: "Inter", sans-serif;
}

body {
  border: 1px solid yellow;
  background-color: black;
  font-size: 100%;
  
}

header {
  border: 1px solid blue;
}

.home-menu {
  border: 1px solid green;
  position: relative;
  padding: 20px;
  transition: 0.5s;
  margin: 0;
}

h1 {
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
}

.img-container img {
  border: 1px solid #fff;
  max-width: 80%;
  height: auto;
}
.appstore-container {
  border: 1px solid pink;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
}

.appstore-container img {
  border: 1px solid yellowgreen;
}
/*footer {
}
*/
