/* For devices 1000px and larger: 
@media only screen and (min-device-width: 1000px) {
  body {
    background-image: url('img_flowers.jpg');
  }
}
*/

html {
  font-family: "Inter", sans-serif;
}

body {
  border: 1px solid yellow;
  background-color: black;
  font-size: 100%;
  min-height: 100vh;
}

header {
  border: 1px solid blue;
}

.home-menu {
  border: 1px solid green;
  position: relative;
  padding: 20px;
  transition: 0.5s;
  margin: 0;
}

h1 {
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
}

.img-container img {
  border: 1px solid #fff;
  max-width: 80%;
  height: auto;
}
.appstore-container {
  border: 1px solid pink;
  bottom: 0;
}

.appstore-container img {
  border: 1px solid yellowgreen;
}
/*footer {
}
*/

/* For devices 390px and smaller: */
@media only screen and (max-device-width: 390px) {
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .top-container {
    flex-grow: 1;
  }

  h1 {
    font-size: 3em;
  }

  .main-container {
    display: flex;
    justify-content: flex-end;
  }

  .img-container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
}
